@font-face {
    font-family: 'sofiapro-light';
    src: url('sofiapro-light-webfont.woff2') format('woff2'),
         url('sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quasimoda-light';
    src: url('quasimoda-light-webfont.woff2') format('woff2'),
         url('quasimoda-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: 'WindSong', cursive;
    src: url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
}
#content{
    font-family: 'quasimoda-light';
    src: url('quasimoda-light-webfont.woff2') format('woff2'),
         url('quasimoda-light-webfont.woff') format('woff');
}
.hello{
    width: 100%;
}


.leftSide{
    font-family: 'sofiapro-light';
    src: url('sofiapro-light-webfont.woff2') format('woff2'),
         url('sofiapro-light-webfont.woff') format('woff');
    
    font-size: 3rem;
    line-height: 15;
}
img{
    height: 400px;
    border-left: 1px gray solid;
}
.menu{
    justify-items: center;
}
.address, p{
    font-family: 'sofiapro-light';
    justify-content: center;
    height: auto;
}
a:hover{
    cursor: pointer;
}
.paragraph{
    width: 500px;
    margin: auto;
}
.menuPic{
    margin-top: 30px;
    margin-bottom: 10px;
}

.menuText{
    margin-bottom: 10px;
}